body {
    overflow: hidden;
    background-color: black;
}

#container {
    position: relative;
    box-sizing: border-box;
  }
  
#mural {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    box-sizing: border-box;
}
  

.area {
    border: 1px dashed black;
    height: 80%;
    width: 80%;
    position: absolute;
}
  
.character-face {
    z-index: 2;
}

#floating-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; /* Adjust the width as needed */
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    display: none;
  }

.highlight {
    position: absolute;
    outline: none;
    box-shadow: 0 0 0 4px red;
    z-index: 1;
}  
  
.highlight-box {
    position: absolute;
    border: 2px solid white;
    pointer-events: none; /* Prevent the highlight box from capturing mouse events */
}
  
.floating-window {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}